*{

}

.container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: blueviolet;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
}   

#heading{
    text-align: center;
}

#description{
    font-size: 20px;
}
#l{
    font-size: 20px;
    height: 1.5rem;
    margin-bottom:10px;
    margin-top:10px;
}

#Bill-Amount{
    font-size: 20px;
    height: 1.5rem;

}
#Cash-Given{
    font-size: 20px;
    height: 1.5rem;
}


#check{
    margin-top:20px;
    font-size: 20px;
    height: 2rem;
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#capt{
    margin-bottom: 1rem;
    font-size: 60px;
  }